.breadcrumb{
    background-color: #FFF;
    border: solid 1px #F5F5F5;
}

.form-section-title{
    font-size: 26px;
    color: #949494;
}

.input-file-conteiner{
    position: relative;
    display: block;
}

.input-file-conteiner button{
    position: absolute;
    z-index: 1;
}

.input-file-conteiner input[type="file"]{
    z-index: 0;
    color: #FFF;
}

.small{
    font-size: 10px;
    color: #949494;
    font-weight: bold;
}

table thead tr{
    background-color: #007DB7;
    color: #FFF;
}    

/****
 * Management área
 ****/

.card{
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
}

.card-details{
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.card-title{
    clear: both;
    font-weight: 400;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
}

.management-list-wraper{
    width: 270px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.management-list-wrapper:first-child {
    margin-left: 10px;
}

.management-list {
    background: #E2E4E6;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.management-list-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    min-height: 18px;
}

.management-list-cards {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

.management-container{
    user-select: none;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}