
body{
	background-color: #F2F2F2;
}

body { 
	padding-top: 50px; 
}

.no-border{
    border: none !important;
}

.margin-top-5{
    margin-top:5px;
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.margin-top-20{
    margin-top:20px;
}

.margin-top-30{
    margin-top:30px;
}

.margin-top-10{
    margin-top:10px;
}

.margin-bottom-20{
    margin-bottom:20px;
}

.margin-bottom-10{
    margin-bottom:10px;
}

.margin-bottom-0{
    margin-bottom:0px;
}

.margin-right-5{
    margin-right: 5px;
}

.box {
	background-color: #FFF;
	padding-bottom: 20px;
    box-shadow: 0 2px 3px silver;
}

.project-card{
	padding: 5px 10px;
	width: 100%;
	height: auto;
	clear: both;
}

.project-card h3 a:hover{
	text-decoration: none;
	color: #337ab7
}

.created-at .label, .evaluation .label{
	color: #333;
	padding: 0px;
	font-size: 90%;
}

.created-at .date{
	font-weight: bold;
}

.alert-messages{
    list-style: none;
}

.full-size{
    width: 100%;
}

.project-box{
    border-bottom: solid 1px #C7C7C7;
    padding-bottom: 10px;
}

.project-container .project-section-title h2, .project-container .project-section-title .h2{
    margin-top:10px;
    margin-bottom:20px;
}
.project-container .project-section-title h2 a, .project-container .project-section-title .h2 a{
    text-decoration: none;
}

.project-section-label{
    font-weight: bold;
}

.project-container .project-members, .project-container .project-followers{
    background-color: #ECF5F5;
    border:1px solid #ffffff;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
}

ul.simple-list{
    list-style: none;
}

ul.simple-list a{
    text-decoration: none;
}

ul.simple-list li{
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.project-extra-items{
    padding-left:10px;
}

img.img-responsive.img-center{
    margin:0 auto;
}

.btn-follow.following{
    color: #337ab7 !important;
}

