
body{
	background-color: #f2f2f2;
}

.no-border{
    border: none !important;
}

.margin-top-5{
    margin-top:5px;
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.margin-top-20{
    margin-top:20px;
}

.margin-top-30{
    margin-top:30px;
}

.margin-top-10{
    margin-top:10px;
}

.margin-bottom-20{
    margin-bottom:20px;
}

.margin-bottom-10{
    margin-bottom:10px;
}

.margin-bottom-0{
    margin-bottom:0px;
}

.box {
	background-color: #FFF;
	padding-bottom: 20px;
    box-shadow: 0 2px 3px silver;
}

.project-card{
	padding: 5px 10px;
	width: 100%;
	height: auto;
	clear: both;
}

.project-card h3 a:hover{
	text-decoration: none;
	color: #337ab7
}

.created-at .label, .evaluation .label{
	color: #333;
	padding: 0px;
	font-size: 90%;
}

.created-at .date{
	font-weight: bold;
}